.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid #D1D1D1;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #E3D8F1;
  color: rgba(0, 0, 0, 0.759);
  border: 2px solid #D1D1D1;
}
.card-grid{
  margin-top:40px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:20px;
}